/* --------------- */
/* Page image background */

.view-content {
  z-index: 0;
}

span[src$="background_fade"] img{
  display:block;
  width: 100%;
  height: 50%;
  max-width: 800px;
  margin: 0px auto -80px auto;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0.7;
  z-index: -1;
}

.markdown-preview-view img:not([width]) {
    max-width: 100% !important;
    outline: none;
}